@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Tomorrow, sans-serif;
  background: radial-gradient(circle at top left,
      #040a0a 0%,
      #0b5a52 30%,
      #0b5a52 60%,
      #040a0a 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollReverse {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(50%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - 1rem));
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(calc(-50% - 1rem));
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee var(--marquee-duration, 40s) linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse var(--marquee-duration, 40s) linear infinite;
}

.animate-marquee:hover,
.animate-marquee-reverse:hover {
  animation-play-state: paused;
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll-reverse {
  animation: scrollReverse 30s linear infinite;
}

.animate-scroll:hover,
.animate-scroll-reverse:hover {
  animation-play-state: paused;
}

.animate-scroll:hover,
.animate-scroll-reverse:hover {
  animation-play-state: paused;
}